-content_for :head do
  =javascript_include_tag "//platform.twitter.com/widgets.js"
#fb-root
=javascript_tag do
  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=303242933026774"; fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));


.row
  .well.player.span4
    .welcome
      %h1 Welcome to KISSr
      =image_tag "play.png", class: "play"
      %p KISSr lets you host websites out of your Dropbox
    .scene
      %h1 So you want your own domain name...
    .scene
      %h1 What does that mean exactly?
    .scene
      %h1 When someone goes to yourdomain.com you want them to see your website.
    .scene
      %h1 But how will the internet know where to find your website?
    .scene
      %h1 That's where KISSr comes in.
    .scene
      %h1 You enter the domain you want to register
    .scene
      %h1 and choose the domain extension.
    .scene
      %h1 KISSr will then register that domain for you.
    .scene
      %h1 And whenever someone goes to that domain
    .scene
      %h1 KISSr will look in your Dropbox where you will put your website.
    .scene
      %h1 Try it out now. Domains that end in kissr.co are free!
    .stop
      %i.icon-stop
    .mute
      %i.icon-volume-off
      %i.icon-volume-up


  .about.span5
    %h3 Register a domain.
    %p Kissr will let you register a domain name with one click. Domains that end in KISSr.co are free!
    %h3 Put your website in a Dropbox folder.
    %p With KISSr you manage your entire website from a folder in your Dropbox. KISSr will only have access to one folder in your Dropbox. 
    %h3 Enjoy scaleable secure hosting in the cloud!
    %p KISSr will syncronize a copy of your website to our web servers. Since our web servers are built on top of the Amazon Cloud Platform your site will load quickly even under high traffic. No servers to manage. No nonsense.
    %a{ href:"https://vimeo.com/42097891", target: "_blank", class: "btn btn-success", style: "width:250px"} Watch an Instructional Screencast Now
    %h2{ style: "display:block;padding: 0 125px;"} or
-#.well.alert.alert-info
  %h3 KISSr enables you to host websites out of your Dropbox
-if (session[:reffered_by_id] && current_user.nil?) || (current_user && current_user.reffered_by.present? and current_user.subscriptions.count == 0)
  .alert.alert-success
    %h2.alert-success Thanks to #{User.find(session[:reffered_by_id]).first_name}, you can get your first custom domain for $20 off! Wahoo!
=render 'sites/homepage_form'

-##description.well
  %p DropLamp enables you to host websites out of your Dropbox 
  

  %br
  - @site=Site.new
  - @site.domain = Domain.new
  = form_for @site, html: {class: "form-inline"} do |f|
    =# f.label :dropbox_folder
    = f.text_field :dropbox_folder, placeholder: "Dropbox Folder"
    &raquo;
    = f.fields_for :domain do |d|
      =#d.label :domain
      =d.text_field :domain, placeholder: "Domain"
      =#d.label :tld, "Suffix"
      =d.select :tld, [".droplamp.com ($0.00 Setup + $0.00/mo)",".com ($9.99 Setup + 4.99/mo)",".org ($9.99 Setup  + 4.99/mo)",".net ($9.99 Setup  + 4.99/mo)",".info ($9.99 Setup  + 4.99/mo)"].zip(Domain::TLDS)
    = f.submit "Publish", class: "btn-primary"
    -#%p Choose a name for the dropbox folder you would like to create and the domain name of your choice. Domains that end in droplamp.com are free!
  -#%a{:href=>"http://www.dropbox.com/"} What is Dropbox?

  -#%br 
  -#%br 
  -#%br 
  -#%a{ href: "https://twitter.com/share", class: "twitter-share-button", "data-url" => "http://www.droplamp.com/", "data-counturl" => "http://www.kissr.co/", "data-count"=>"vertical", "data-text" => "Checkout DropLamp! DropLamp lets you host websites out of your Dropbox"} Tweet
  -#.fb-like{ "data-href" => "http://www.droplamp.com/", "data-send"=>"false", "data-layout"=>"box_count", "data-width"=>"450", "data-show-faces"=>"false", "data-font"=>"arial" }


