=content_for :head do
  :coffeescript
    $().ready ->
      $("#domain_preregistered,label[for=site_already_registered]").hide()
      $("#domain_tld").change ->
        if $(this).val() != "kissr.co"
          $("#domain_preregistered,label[for=site_already_registered]").slideDown()
        else
          $("#domain_preregistered,label[for=site_already_registered]").slideUp()
        false
=form_for @site, html: { class: "form-horizontal" } do |f|
  %fieldset
    = f.fields_for :domain do |d|
      .control-group
        =d.label :domain, :class=>"control-label"
        .controls
          .input-append
            =d.text_field :domain, placeholder: "mysite"
            = d.select :tld, [".kissr.co (Free!)",".com ($7.99 per month)",".org ($7.99 per month)",".net ($7.99 per month)",".info ($7.99 per month)"].zip(Domain::TLDS), html: {:class => "add-on"}

          %p.help-block The domain you want to point to your Dropbox
    .control-group
      = f.label :dropbox_folder, "Dropbox Folder", :class=>"control-label"
      .controls
        .input-prepend
          %span.add-on Dropbox/Apps/KISSr/
          = f.text_field :dropbox_folder, :placeholder => "My Website"
        %p.help-block Name of the folder KISSr will create in your Dropbox
    .form-actions
      = f.submit "Publish", :class => "btn btn-primary btn-large"

