= content_for :head do
  :coffeescript
    $("#site_domain_attributes_domain").keyup -> domainChange()

%h1 KISSr is Simple Dropbox Web Hosting.
-#.col-sm-5.col-sm-offset-3
= form_for @site, html: { class: "form-horizontal" } do |f|
  -if @site.errors.any?
    -@site.errors.full_messages.each do |msg|
      %p.alert.alert-box= msg
  %fieldset
    .form-group
      .row
        .col-sm-10
          = f.fields_for :domain do |d|
            = d.hidden_field :tld, value: 'kissr.com'
            .input-group.input-group-lg
              .input-group-addon http://
              = d.text_field :domain, placeholder: "mysite", class: 'form-control'
              .input-group-addon .kissr.com/
          %span.help-block
        .col-sm-2
          = f.submit "Try it!", :class => "btn btn-primary btn-lg"
.row
  .col-sm-4
    %h3
      %span.glyphicon.glyphicon-cloud-upload
      Upload with Dropbox
    %p
      KISSr will create a folder in your Dropbox. When you update the files in your Dropbox the changes will be copied to KISSr's webservers and your site will be updated!
  .col-sm-4
    %h3
      %span.glyphicon.glyphicon-flash
      Unlimited Everything
    %p
      KISSr has no restrictions on bandwidth or storage. KISSr is built to scale. If your site suddenly gets a spike in traffic KISSr will be able to handle the traffic.
  .col-sm-4
    %h3
      %span.glyphicon.glyphicon-thumbs-up
      Affordable
    %p
      KISSr costs #{content_tag :span, '$0.99 per month', class: 'label label-success'} per site. The first month is free.
#alreadyRegistered.modal.hide
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Warning
  .modal-body
    %p
      Sorry but that domain #{tag("span", :class =>"already_registered_domain" )} has already been registered. 
      %strong You will not be able to use KISSr with this domain unless you own this domain and have access to set a CNAME record on that domain. 
  .modal-footer
    %a.btn.btn-danger{:href => "#", :class=> "ownership_verified"} I Own This Domain 
    %a.btn{:href => "#","data-dismiss" => "modal"} I'll Pick Another Domain

#alreadyRegisteredKISSr.modal.hide
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Warning
  .modal-body
    %p Sorry but that domain #{tag("span", :class =>"already_registered_domain" )} has already been taken.
  .modal-footer
    %a.btn.btn-primary{:href => "#","data-dismiss" => "modal"} I'll Pick Another Domain

#blankDomain.modal.hide
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Oops!
  .modal-body
    %p Please enter the domain name you would like to register.
  .modal-footer
    %a.btn.btn-primary{:href => "#","data-dismiss" => "modal"} Ok
