=content_for :head do
  :coffeescript
    $().ready ->
      $("#domain_preregistered,label[for=site_already_registered]").hide()
      $("#domain_tld").change ->
        if $(this).val() != "kissr.co"
          $("#domain_preregistered,label[for=site_already_registered]").slideDown()
        else
          $("#domain_preregistered,label[for=site_already_registered]").slideUp()
        false
=semantic_form_for @site do |f|
  = label :domain, "Domain"
  = text_field_tag 'domain[domain]'
  %span{:id=>"dot"}.
  = select :domain,:tld, [".kissr.co ($0.00 Setup + $0.00/mo)","com ($9.99 Setup + 4.99/mo)","org ($9.99 Setup  + 4.99/mo)","net ($9.99 Setup  + 4.99/mo)","info ($9.99 Setup  + 4.99/mo)"].zip(Domain::TLDS)
  #domain_status
  = f.label "already_registered", "I've already registered this domain"
  -if current_user.name=="Mason Fischer" then
    = check_box_tag "domain_preregistered",0,{:checked=>:checked}
  -else
    = check_box_tag "domain_pregistered",1,{:checked=>:checked}

  = f.input :path,:label=> "Dropbox Folder"
  = f.submit

