=content_for :head do
  :coffeescript
    $().ready ->
      $("#domain_preregistered,label[for=site_already_registered]").hide()
      $("#site_domain_attributes_tld").change ->
        if $(this).val() != "kissr.co"
          $("#domain_preregistered,label[for=site_already_registered]").slideDown()
        else
          $("#domain_preregistered,label[for=site_already_registered]").slideUp()
      $("#already_registered").click ->
        alert "Support for registering domains on site is coming soon! Until then, please follow the turorial on setting up a domain with GoDaddy."
        false
=semantic_form_for @site do |f|
  =f.semantic_fields_for :domain do |d|
    = d.input :domain, :label=> "Domain"
    %span{:id=>"dot"}.
    = d.select :tld, [".kissr.co ($0.00 Setup + $0.00/mo)","com ($9.99 Setup + 4.99/mo)","org ($9.99 Setup  + 4.99/mo)","net ($9.99 Setup  + 4.99/mo)","info ($9.99 Setup  + 4.99/mo)"].zip(Domain::TLDS), :for => :domain
    #domain_status
    = f.label "already_registered", "I've already registered this domain"
    -if current_user.name="Mason Fischer" then
      = check_box "domain" ,"preregistered" 
    -else
      = check_box_tag "already_registered",1,{:checked=>:checked}

  = f.input :path,:label=> "Dropbox Folder"
  = f.submit "Attach Domain"

