!!!
%html
  %head
    %title KISSR - Dropbox Web Hosting
    %meta{:name=>"description",:value=>"KISSr enables you to host websites out of your Dropbox"}
    %meta{:name=>"keywords",:value=>"kissr,hosting,web,web hosting,dropbox"}
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'

    = javascript_include_tag :application
    = render "layouts/google_analytics"
         
    = yield :head
    = csrf_meta_tag
  %body{:class => "#{controller_name}-#{action_name}"}
    .container
      %header
        %h5
          %a{:id=> "logo",:href=>"/"} Kissr
        -unless current_user.nil? then
          #welcome-message="Hi, #{current_user.first_name}!"
          = link_to 'Sign Out', destroy_user_session_path, :class=> 'button'
      .content
        #flash
          - flash.each do |key, value|
            %div{:id => "flash_#{key}"}!=value
        = yield
      %footer
        %nav
          %section
            %h3 KISSr
            %ul
              %li 
                %a{:href=>"http://docs.kissr.co/pricing"} About
              %li 
                %a{:href=>"http://docs.kissr.co/about"} Pricing
          %section
            %h3 Resources
            %ul
              %li 
                %a{:href=>"http://www.dropbox.com/"} Getting Started
              %li
                %a{:href=>"http://www.godaddy.com"} File Layout
              %li
                %a{:href=>"http://en.wikipedia.org/wiki/Markdown"} Tutorials
