!!!
%html
  %head
    %title KISSR - Dropbox Web Hosting
    %meta{:name=>"description",:value=>"KISSr enables you to host websites out of your Dropbox"}
    %meta{:name=>"keywords",:value=>"kissr,hosting,web,web hosting,dropbox"}
    =javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js"
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'

    = javascript_include_tag :application
    = render "layouts/google_analytics"
    = render "typekit"
         
    = yield :head
    = csrf_meta_tag
  %body{:class => "#{controller_name}-#{action_name}"}
    .container
      %header
        %h5
          %a{:id=> "logo",:href=>"/"} DropLamp
        -unless current_user.nil? then
          #welcome-message="Hi, #{current_user.first_name}!"
          = link_to 'Sign Out', destroy_user_session_path, :class=> 'btn primary'
        %nav
          %ul
            %li 
              %a{:href=>"http://docs.kissr.co/getting_started/"} Getting Started
            %li 
              %a{:href=>"http://docs.kissr.co/"} Documentation
            %li 
              %a{:href=>"http://docs.kissr.co/pricing.html"} Pricing
            %li
              %a{:href=>"http://docs.kissr.co/about.html"} About
      .content
        - flash.each do |type, message|
          %div.alert-message.fade.in{ "data-alert" => "alert", :class => twitterized_flash_type(type) }
            %a.close{:href => "#"} ×
            %p
              = raw message

        = yield
    
